{% extends  "music/base.html"%}
{% block title %}Songs{% endblock %}
{% block body %}
<br>
    <div class="headcontent"><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Songs Details</h2></div>
<br>
<div class="row">
  <div class="col-md-1" ></div>
  <div class="col-md-3">
    {% if album %}
      <div class="thumbnail">
         <a href="{% url 'music:song' album.id%}"><img src="{{ album.album_logo.url }}" alt="{{ album.title }}" ></a>
         <div class="caption">
            <p><a href="{% url 'music:song' album.id%}" class="btn btn-primary" role="button"><b>{{ album.title }}</b></a> </p>
            <p>Artist: <b>{{ album.artist }}</b><br>Genre: <b>{{ album.genre }}</b></p>
         </div>
      </div>
    {% endif %}
  </div>
  <div class="col-md-1"></div>
  <div class="bodycontent">
    <div class="col-md-6">
    <br><br><br>
    <div  class="panel panel-default">
  <!-- Default panel contents -->
      <div class="panel-heading">Song Details</div>

  <!-- Table -->

       {% if songs %}
      <table class="table table-condensed table-hover table-responsive">
        <thead>
          <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Favourite</th>
            <th>Length</th>
            <th>Size</th>
            <th>Bitrate</th>
            <th>Action(Play)</th>
          </tr>
        </thead>
        {% for i in songs %}
          <tbody>
            <tr>
              <td>{{ i.stitle }}</td>
              <td>{{ i.sartist }}</td>
              <td>{{ i.slength }}</td>
              <td>{{ i.ssize }}</td>
              <td>{{ i.sbitrate }}</td>
              <td><audio src="{{ i.sfile.url }}" controls="controls"></audio></td>
            </tr>
          </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
  </div>

  <div class="col-md-1"></div>
</div>


{% else %}
    <h2>No songs to display</h2>
{% endif %}


{% endblock %}